<a href="https://colab.research.google.com/github/Raldienpr325/Coba/blob/master/R_Aldien_Prayoga_modul2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello, World!!!!")
print("Goodbye World!!!")

Hello, World!!!!
Goodbye World!!!

In [ ]:
print("Hello, python !")
print("aldin")
print('aldin')

Hello, python !
aldin
aldin

Lab

In [ ]:
print("seketika langit menjadi gelpa\nkemudian hujan turun dengan deras")
print()
print("ibu memasaka didapur\ndan kakak menyapu dihalaman")

seketika langit menjadi gelpa
kemudian hujan turun dengan deras

ibu memasaka didapur
dan kakak menyapu dihalaman

In [ ]:
#dia mengatakan "halo"
print ("dia mengatakan \"halo\"")

dia mengatakan "halo"

In [ ]:
print("\"")

"

In [ ]:
print("\\")

\

In [ ]:
print("my name is" , " python")
print("monthy python")

my name is  python
monthy python

In [ ]:
print("my name is","python",end=" ")
print("monthy python")

my name is python monthy python

In [14]:
print("My name is ", end=" ## ")
print("Monty Python.")

My name is  ## Monty Python.

In [15]:
print("My", "name", "is", "Monty", "Python.", sep="-")

My-name-is-Monty-Python.

In [16]:
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")
print("Digital", "Talent", "Dahsyat", sep="_", end="*")
print("Guntur", "Budi.", sep="*", end="*\n")

My_name_is*Monty*Python.*
Digital_Talent_Dahsyat*Guntur*Budi.*

In [17]:

print("Programming","Essentials","in",sep="***",end="...")
print("Python"*2)

Programming***Essentials***in...PythonPython

In [19]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****\n"*2)

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****
    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [20]:
print("    *    "*2)
print("   * *   "*2)
print("  *   *  "*2)
print(" *     * "*2)
print("***   ***"*2)
print("  *   *  "*2)
print("  *   *  "*2)
print("  *****  "*2)

    *        *
   * *      * *
  *   *    *   *
 *     *  *     *
***   ******   ***
  *   *    *   *
  *   *    *   *
  *****    *****

In [21]:
print("    *    "*3)
print("   * *   "*3)
print("  *   *  "*3)
print(" *     * "*3)
print("***   ***"*3)
print("  *   *  "*3)
print("  *   *  "*3)
print("  *****  "*3)

    *        *        *
   * *      * *      * *
  *   *    *   *    *   *
 *     *  *     *  *     *
***   ******   ******   ***
  *   *    *   *    *   *
  *   *    *   *    *   *
  *****    *****    *****

In [22]:
print('2')
print(2)

print(type('2'))
print(type(2))

2
2
<class 'str'>
<class 'int'>

In [23]:
print(5, "mempunyai tipe" , type(5))
print(5.0 , "mempunyai tipe", type(5.0))

5 mempunyai tipe <class 'int'>
5.0 mempunyai tipe <class 'float'>

In [24]:
print(0.000000003) #sama dengan 3e-09
print(3e-8)

3e-09
3e-08

In [25]:
print("im monthy python")
print("jumat")
print("saya berpendapat python itu mudah" , 'kata monthy')
print("1.5")
print("1000")

im monthy python
jumat
saya berpendapat python itu mudah kata monthy
1.5
1000

In [28]:
print (3<1)
print (True)
print (0>3)
print (False)

False
True
False
False

In [29]:
print (None)

None

In [30]:
print (' "i\'m"\n""learning""\n"""python"""')

 "i'm"
""learning""
"""python"""

In [31]:
print(2*4)

8

In [33]:
print (2. ** 3)
print ( 2 ** 3)
print (2 ** 3.)
print (2. ** 3.)

8.0
8
8.0
8.0

In [34]:
#pembagian
print ( 6 / 3)
print (6 / 3.)
print (6. / 3)
print(6. / 3.)

2.0
2.0
2.0
2.0

In [36]:
#pembagian dengan pembulatan ke bawah
print (6 // 3)
print (6 //3.)
print (6. // 3)
print ( 6. // 3.)
print ( 7 // 2)

2
2.0
2.0
2.0
3

In [37]:
print(6 // 4)
print(6. // 4)

print(6 / 4)
print(6. / 4)

#Penting ! pembulatan selalu ke nilai bawahnya

1
1.0
1.5
1.5

In [38]:
print (-6 // 4)
print (6. // -4)

-2
-2.0

In [39]:
#modulus sisa bagi
print (14 % 4)

2

In [41]:
print (-4+4)
print (-4. +8)
print (-4+8.)

0
4.0
4.0

In [42]:
2+3*5 #perkalian didahulukan dari penambahan

17

In [43]:
print (9%6%2) 
#penegrjaan dari kiri ke kanan

1

In [53]:
print ( 2 ** 2 ** 3) #eksponen / pangkat 2 pangkat 2^3 : 2 ^8
print ( 2 ** 5 ** 2)
print (4 ** 3) #dibaca 4 pangkat 3

#pengerjkaan dari kiri ke kanan

256
33554432
64

In [52]:
var =1
print(var) 
#memberi tipe data apapun dalam var

1

In [54]:
var = 1
saldo = 100.0
namaKlien = 'aldin'
print(var, saldo , namaKlien)
print(var)

1 100.0 aldin
1

In [55]:
var = "2019"
print ("digital talent : " +var) 
#kontatinasi

digital talent : 2019

In [56]:
var = 1
print(var)
var = var + 1
print (var)

1
2

In [61]:
var  = 100 
var = 100 + 200 
var = 1 + 4
print (var)
#yang dibaca var yang akhir

5

In [62]:
a = 3.0
b = 4.0
c = ( a ** 2 +b ** 2) ** 0.5
print("c = " , c)
#c = akar a kuadrat + b kuadrat

c =  5.0

In [65]:
guntur = 3
icha = 4 
ratna = 6
print ("apel milik guntur" ,guntur)
total  = guntur + ratna + icha
print ("total apel ", total)

apel milik guntur 3
total apel  13

In [69]:
sheep = 5
sheep = sheep +1
print(sheep)

sheep += 10
print(sheep)

sheep *=2
print (sheep)

6
16
32

In [72]:

kilometer = 12.25
mil = 7.61

mil_ke_kilometer = mil * 1.61
kilometer_ke_mil = kilometer / 1.61


print(mil,round(mil_ke_kilometer,4)) 
# 4 adalah 4 angka belakang koma
print(mil, "mil adalah", round(mil_ke_kilometer, 2), "kilometer")
print(kilometer, "kilometer adalah", round(kilometer_ke_mil, 2), "mil")

7.61 12.2521
7.61 mil adalah 12.25 kilometer
12.25 kilometer adalah 7.61 mil

In [76]:
x = -1
x = float(x)
y = 3*x**3 -2*x**2 +3*x -1
print(y , "adalah nilai y")

-9.0 adalah nilai y

In [77]:
var = 2
var =3
print(var)

3

In [78]:
a = '1'
b = "1"
print (a+b)

11

In [83]:
a = 6
b = 3
a / = 2 * b
print(a)
#syntax error

SyntaxError: ignored

In [84]:
print ("tell me anything ....")
anything = input()
print ('hmmmmm' , anything , "...really ?")

tell me anything ....
asdasd
hmmmmm asdasd ...really ?

In [87]:

angka = float(input("Masukkan Angka..."))
print("Pangkat duanya adalah", angka**2)

Masukkan Angka...2.0
Pangkat duanya adalah 4.0

In [88]:
leg_a = float(input("input first leg length : "))
leg_b = float(input("input second leg length :"))
hypo = (leg_a**2+leg_b**2) ** .5
print("hypotenuse length is :",hypo)

input first leg length : 20
input second leg length :10
hypotenuse length is : 10.954451150103322

In [90]:
fnam = input("may i have your first name , please ?")
inam = input("May i have your last name, please?")
print("thank you")
print("\nYour name is " +fnam+""+inam+".")

may i have your first name , please ?yes
May i have your last name, please?sure
thank you

Your name is yes sure.

In [94]:
#replication

print ("+" + 10 * "-" + "+")
print (("|" + "" * 10 + "|\n") *5, end="")
print ("+" +10 * "-" + "+")

+----------+
||
||
||
||
||
+----------+

In [96]:
leg_A = float(input("input ur first length : "))
leg_b = float(input("input ur second length : "))
print("hypotenuse length is "+ str((leg_A**2 + leg_b**2) ** .5))

input ur first length : 10
input ur second length : 20
hypotenuse length is 22.360679774997898

In [98]:
a = float(input("Masukkan a = "))
b = float(input("Masukkan b = "))
print ("a+b = " , a+b)
print ("a-b = " , a-b)
print ("a*b = " , a*b)
print ("a/b = " , a/b)
print("\nYeahhhh!")

Masukkan a = 2
Masukkan b = 3
a+b =  5.0
a-b =  -1.0
a*b =  6.0
a/b =  0.6666666666666666

Yeahhhh!

In [99]:

x = float(input("Enter value for x: "))

y = 1/(x+1/(x+1/(x+1/x)))

print("y =", y)

Enter value for x: 2
y = 0.4137931034482759

In [100]:
# coba di cek lagi

jam = int(input("waktu mulai (jam): "))
menit = int(input("waktu mulai (menit): "))
durasi = int(input("durasi kegiatan (menit): "))

tambah_menit = menit + durasi
tambah_jam = int(tambah_menit / 60)

jam += tambah_jam
menit = tambah_menit % 60

print(str(jam%24)+':'+str(menit))

waktu mulai (jam): 3
waktu mulai (menit): 60
durasi kegiatan (menit): 60
5:0